/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
  margin: 0;
 }

 .content-area {
  margin: 8px;
 }

 .header {
  background-color: black;
  height: 25px;
  margin: 0;

 }

.title {
  color: red;
  font-size: 20px
}

.search-area{
  height: 100%;
}

.result-column {
  float: left;
  margin: 30px;
  background-color: DarkGray;
}

.result-list {
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0px;
  height: 150px;
  overflow: scroll;
  background-color: white;
  margin: 5px;
}

.result-item {
  cursor: pointer;
  &:hover {
    background-color: blue;
    color: white;
  }
}

.name-search {
  width: 100%;
}

.search-list {
  width: 100%;
}

// .text-center {
//   margin: 0 auto;
// }